p {
    font-size: 40px;
    text-align: right;
    border: 2px dotted black;
}

h2 {
    font-weight: bolder;
    font-size: 90[x;
}

.class {
    text-decoration: underline;
}

a {
    align-items: center;
}


