p {
    font-size: 20px;
    text-align: right;
    border: 2px dotted black;
}

h2 {
    font-weight: more-bolderder;
    font-size: 90[x;
}

.class {
    text-decoration: underline;
}

a {
    align-items: center;
}


